<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Removing Duplicates**

Estimated time needed: **30** minutes

## Introduction

In this lab, you will focus on data wrangling, an important step in preparing data for analysis. Data wrangling involves cleaning and organizing data to make it suitable for analysis. One key task in this process is removing duplicate entries, which are repeated entries that can distort analysis and lead to inaccurate conclusions.

## Objectives

In this lab you will perform the following:

1. Identify duplicate rows  in the dataset.
2. Use suitable techniques to remove duplicate rows and verify the removal.
3. Summarize how to handle missing values appropriately.
4. Use ConvertedCompYearly to normalize compensation data.

### Install the Required Libraries

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 95.8 MB/s eta 0:00:00
Downloading numpy-2.4.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 108.6 MB/s eta 0:00:00
Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.4.0 pandas-2.3.3 tzdata-2025.3

### Step 1: Import Required Libraries

In [2]:
import pandas as pd

### Step 2: Load the Dataset into a DataFrame

load the dataset using pd.read_csv()

In [12]:
# Define the URL of the dataset
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

**Note: If you are working on a local Jupyter environment, you can use the URL directly in the <code>pandas.read_csv()</code>  function as shown below:**

#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

### Step 3: Identifying Duplicate Rows

**Task 1: Identify Duplicate Rows**
  1. Count the number of duplicate rows in the dataset.
  2. Display the first few duplicate rows to understand their structure.

In [17]:
## Write your code here
subset_cols = ["MainBranch", "Employment", "RemoteWork", "Country"]
duplicate_count = df.duplicated(subset=subset_cols).sum()
print("Number of duplicate rows:", duplicate_count)
df[df.duplicated(subset=subset_cols, keep=False)].head()

Number of duplicate rows: 58496

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

### Step 4: Removing Duplicate Rows

**Task 2: Remove Duplicates**
   1. Remove duplicate rows from the dataset using the drop_duplicates() function.
2. Verify the removal by counting the number of duplicate rows after removal .

In [18]:
## Write your code here
subset_cols = ["MainBranch", "Employment", "RemoteWork", "Country"]

# Mark duplicates based on the subset
duplicates = df[df.duplicated(subset=subset_cols, keep=False)]

##print("Total duplicate rows based on subset:", len(duplicates))
##print(duplicates.head())
consistent_columns = {} #columns tend to have the same value across duplicate rows
# Group duplicates by those key columns
grouped = duplicates.groupby(subset_cols)
for name, group in grouped:
    for col in df.columns:
        if col not in subset_cols:
            # If all values in the group are the same
            if group[col].nunique(dropna=False) == 1:
                consistent_columns.setdefault(col, 0)
                consistent_columns[col] += 1

# Sort by most frequent
consistent_columns = dict(sorted(consistent_columns.items(), key=lambda x: x[1], reverse=True))
consistent_columns
#By adding the country in the candidates column, fewer duplicate rows  are returned, which is an indication that "MainBranch", "Employment","RemoteWork", "Country" are critical for uniqueness in the dataset

##Remove duplicates based on a subset of columns
unique_cols = [
    "MainBranch",
    "Employment",
    "RemoteWork",
    "Country"
]
df[df.duplicated(subset=unique_cols, keep=False)].head()
##Remove duplicates based on a subset of columns
##Keeps one representative row
##Removes redundant demographic entries
df_deduped = df.drop_duplicates(subset=unique_cols, keep="first")
print("Original rows:", len(df))
print("After deduplication:", len(df_deduped))
print(
    "Remaining duplicates:",
    df_deduped.duplicated(subset=unique_cols).sum()
)
print(df_deduped.head())

Original rows: 65437
After deduplication: 6941
Remaining duplicates: 0
   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old
5           6     I code primarily as a hobby  Under 18 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples
5   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN
5                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...
5                          Primary/elementary school

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...
5  School (i.e., University, College, etc);Online...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN
5                                                NaN  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN
5            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN
5             NaN  Appropriate in length       Easy                 NaN    NaN

[5 rows x 114 columns]

### Step 5: Handling Missing Values

**Task 3: Identify and Handle Missing Values**
   1. Identify missing values for all columns in the dataset.
   2. Choose a column with significant missing values (e.g., EdLevel) and impute with the most frequent value.

In [41]:
## Write your code here
missing_counts = df.isna().sum()
##print(missing_counts)
df[df.isna().any(axis=1)]
missing_summary = pd.DataFrame({
    "Missing_Count": df.isna().sum(),
    "Missing_Percent": (df.isna().mean() * 100).round(2)
})

missing_summary_sorted = missing_summary.sort_values(
    by="Missing_Count",
    ascending=False
)

missing_summary_sorted
columns_with_missing = missing_summary_sorted[
    missing_summary_sorted["Missing_Count"] > 0
]

columns_with_missing

most_missing_column = missing_summary_sorted.idxmax()["Missing_Count"]
most_missing_column
top_missing_columns = missing_summary_sorted.head(5)
print("Top Missing columns:",top_missing_columns)

most_frequent_value = df["AINextMuch less integrated"].mode()[0]
print("Most frequent value:", most_frequent_value)

df["AINextMuch less integrated"] = df["AINextMuch less integrated"].fillna(
    most_frequent_value
)
df["AINextMuch less integrated"].isna().sum()

Top Missing columns:                             Missing_Count  Missing_Percent
AINextLess integrated               63082            96.40
AINextNo change                     52939            80.90
AINextMuch more integrated          51999            79.46
EmbeddedAdmired                     48704            74.43
EmbeddedWantToWorkWith              47837            73.10
Most frequent value: Writing code

np.int64(0)

### Step 6: Normalizing Compensation Data

**Task 4: Normalize Compensation Data Using ConvertedCompYearly**
   1. Use the ConvertedCompYearly column for compensation analysis as the normalized annual compensation is already provided.
   2. Check for missing values in ConvertedCompYearly and handle them if necessary.

In [40]:
## Write your code here

most_frequent_value = df["ConvertedCompYearly"].mode()[0]
print("Most Frequent comp:",most_frequent_value )
print("Total rows with null values in ConvertedCompYearly column:",df["ConvertedCompYearly"].isna().sum())
df["ConvertedCompYearly"] = df["ConvertedCompYearly"].fillna(most_frequent_value)
print(df["ConvertedCompYearly"].head())

Most Frequent comp: 64444.0
Total rows with null values in ConvertedCompYearly column: 0
0    64444.0
1    64444.0
2    64444.0
3    64444.0
4    64444.0
Name: ConvertedCompYearly, dtype: float64

### Step 7: Summary and Next Steps

**In this lab, you focused on identifying and removing duplicate rows.**

- You handled missing values by imputing the most frequent value in a chosen column.

- You used ConvertedCompYearly for compensation normalization and handled missing values.

- For further analysis, consider exploring other columns or visualizing the cleaned dataset.

In [45]:
## Write your code here
df["AINextNo change"] = df["AINextNo change"].fillna(
    most_frequent_value
)
df["AINextMuch more integrated"] = df["AINextMuch more integrated"].fillna(
    most_frequent_value
)
df["EmbeddedAdmired"] = df["EmbeddedAdmired"].fillna(
    most_frequent_value
)
df["EmbeddedWantToWorkWith"] = df["EmbeddedWantToWorkWith"].fillna(
    most_frequent_value
)
print(df["AINextNo change"].isna().sum())
print(df["AINextMuch more integrated"].isna().sum())
print(df["EmbeddedAdmired"].isna().sum())
print(df["EmbeddedWantToWorkWith"].isna().sum())

0
0
0
0

<!--
## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.2|Madhusudhan Moole|Updated lab|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

--!>

Copyright © IBM Corporation. All rights reserved.